@{
    ViewData["Title"] = "Pagina principal";
}

<!-- page content -->
<div class="right_col col-md-10 col-sm-10 container body" role="main">

    
    <div class="row">
        <div class="col-md-10 col-sm-10 ">

            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6 ">
                        <h3>Partes <small>encuentra todas las partes de la tarjetas</small></h3>
                    </div>
                    
                </div>

                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID Parte</th>
                            <th scope="col">Numero de parte</th>
                            <th scope="col">ID Tarjeta</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>155</td>
                            <td>1</td>
                            <td>
                                <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>155</td>
                            <td>1</td>
                            <td>
                                <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>155</td>
                            <td>1</td>
                            <td>
                                <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            </td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <br />

</div>
<!-- /page content -->
