@{
    ViewData["Title"] = "Pagina principal";
}

<!-- page content -->
<div class="right_col col-md-10 col-sm-10 container body" role="main">

    
    <div class="row">
        <div class="col-md-10 col-sm-10 ">

            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Solicitudes <small>encuentra todas las solicitudes</small></h3>
                        <br />
                        <a href="@Url.Action("AgregarSolicitud","Home")" class="btn btn-primary">Nueva Solicitud</a>
                    </div>
                </div>


                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID Solcitud</th>
                            <th scope="col">ID Usuario</th>
                            <th scope="col">ID Tarjeta</th>
                            <th scope="col">ID Tipo de Rework</th>
                            <th scope="col">Comentario</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Rework type</td>
                            <td>Solo es ejemplo</td>
                            <td>28/7/24</td>
                            <td>
                                    <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Rework type</td>
                            <td>Solo es ejemplo</td>
                            <td>28/7/24</td>
                            <td>
                                <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Rework type</td>
                            <td>Solo es ejemplo</td>
                            <td>28/7/24</td>
                            <td>
                                <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Rework type</td>
                            <td>Solo es ejemplo</td>
                            <td>28/7/24</td>
                            <td>
                                <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Rework type</td>
                            <td>Solo es ejemplo</td>
                            <td>28/7/24</td>
                            <td>
                                <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Rework type</td>
                            <td>Solo es ejemplo</td>
                            <td>28/7/24</td>
                            <td>
                                <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Rework type</td>
                            <td>Solo es ejemplo</td>
                            <td>28/7/24</td>
                            <td>
                                <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Rework type</td>
                            <td>Solo es ejemplo</td>
                            <td>28/7/24</td>
                            <td>
                                <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <br />

</div>
<!-- /page content -->
