@{
    ViewData["Title"] = "Editar Tipo de Rework";
}

<!-- page content -->
<div class="right_col col-md-10 col-sm-10 container body" role="main">


    <div class="row">
        <div class="col-md-10 col-sm-10 ">

            <div class="dashboard_graph">

                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <div class="card border-secondary ">
                            <div class="card-body">
                                <h5 class="card-title">Id: X</h5>
                                <p class="card-text">AQUI VA EL FORMULARIO PARA EDITAR</p>
                                <a href="@Url.Action("EditarTipoRework","Admin")" class="btn btn-primary">Partes de la tarjeta</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<br />

</div>
<!-- /page content -->
