<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>ReworkApp  </title>

    <link href="~/page/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/page/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/page/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/page/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <link href="~/page/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/page/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/page/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <link href="~/page/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Inicio","Home")" class="site_title">@* <i class="fa fa-paw"></i> *@ <span>ReworkApp</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3><i class="fa fa-home"></i>Menu General</h3>
                            <ul class="nav side-menu">
                                <li >
                                    <a href="@Url.Action("Solicitudes","Home")"><i class="fa fa-table"></i> Solcitudes</a>
                                    
                                </li>
                                <li>
                                    <a href="@Url.Action("Tarjetas","Home")"><i class="fa fa-table"></i> Tarjetas </a>
                                    
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Tipos de Reworks</a>
                                    
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Usuarios</a>
                                    
                                </li>
                            </ul>
                        </div>
                        

                    </div>
                    <!-- /sidebar menu -->
                    
                </div>
            </div>


            <!-- /body -->
            @RenderBody()
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    ReworkApp
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/page/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/page/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/page/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/page/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/page/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/page/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/page/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/page/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/page/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../vendors/Flot/jquery.flot.js"></script>
    <script src="../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="../vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

</body>
</html>
